<%- include('../partials/head') %>
<div class="container">

    <h1>All Fruits</h1>
    <ul>
      <% fruits.forEach(fruit => { %>
        <li><a href="/fruits/<%= fruit._id %>"><%= fruit.name %></a> </li>
      <% }); %>
    </ul>

</div>

<%- include('../partials/footer') %>